/* CSS RESET */

/*
*  html5resetcss
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

body {
    line-height: 1
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

nav ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold
}

del {
    text-decoration: line-through
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input,
select {
    vertical-align: middle
}

/* ROOT VARIABLES */

:root {
    --contrast-text: hsl(75, 94%, 57%);
    --main-text: hsl(0, 0%, 100%);
    --gray-700: hsl(0, 0%, 20%);
    --gray-800: hsl(0, 0%, 12%);
    --gray-900: hsl(0, 0%, 8%);

    --thin-weight: 400;
    --medium-weight: 600;
    --bold-weight: 700;
}

/* GLOBAL STYLES */

body {
    font-family: "Inter", sans-serif;
    background-color: var(--gray-900);
    width: 100vw;
    height: 100vh;
    min-width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body p {
    font-size: 14px;
}

main {
    background-color: var(--gray-800);
    width: 80%;
    border-radius: 20px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section:first-of-type img {
    width: 5rem;
    border-radius: 90px;
}

section:first-of-type h1 {
    color: var(--main-text);
    font-size: 1.3rem;
    font-weight: var(--medium-weight);
    margin-top: 1.5rem 0;
}

section:first-of-type h2 {
    color: var(--contrast-text);
    font-size: 0.75rem;
    font-weight: var(--bold-weight);
    margin-top: 0.6rem;
}

section:first-of-type p {
    color: var(--main-text);
    font-size: 0.75rem;
    font-weight: var(--thin-weight);
    margin-top: 1.5rem;
}

footer {
    margin-top: 1rem;
}

/* PROVIDED STYLES */
.attribution {
    font-size: 0.6875rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}